@font-face {
    font-family: "Orbitron Regular";
    src: url("../Assets/Fonts/Orbitron-Regular.ttf");
}

#bodyTag {
    background-image: url("../Assets/Pictures/Pixel\ Space\ Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: Orbitron Regular;
    color: white;
}

.modal-content {
    color: white;
    background-color: black;
    border: white solid 0.1rem;
}

.modalUnderstoodBtn {
    color: white;
    border: white solid 0.1rem;
}

.modalUnderstoodBtn:hover {
    color: black;
    background-color: white;
    border: white solid 0.1rem;
}

/* Title Screen */

.startTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.startButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.startButton {
    color: white;
    font-size: 2rem;
}

.startButton:hover { font-size: 2.5rem; }
.startButton:active { border: none; }

/* Title Screen */

/* Start Screen */

.playButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.playButton {
    color: white;
    font-size: 2rem;
}

.playButton:hover { font-size: 2.5rem; }
.playButton:active { border: none; }

.rulesButtonDiv {
    display: flex;
    justify-content: center;
}

.rulesButton {
    color: white;
    font-size: 2rem;
}

.rulesButton:hover { font-size: 2.5rem; }
.rulesButton:active { border: none; }

.backToTitleButtonDiv {
    display: flex;
    justify-content: center;
}

.backToTitleButton {
    color: white;
    font-size: 2rem;
}

.backToTitleButton:hover { font-size: 2.5rem; }
.backToTitleButton:active { border: none; }

/* Start Screen */

/* Rule Screen */

.ruleScreenTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.ruleScreenTxt {
    margin-top: 2%;
    text-align: center;
    font-size: 1.5rem;
    white-space: pre-line;
}

.ruleBackToStartButtonDiv {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.ruleBackToStartButton {
    color: white;
    font-size: 2rem;
}

.ruleBackToStartButton:hover { font-size: 2.5rem; }
.ruleBackToStartButton:active { border: none; }

/* Rule Screen */

/* Play Select Screen */

.twoPlayerButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.twoPlayerButton {
    color: white;
    font-size: 2rem;
}

.twoPlayerButton:hover { font-size: 2.5rem; }
.twoPlayerButton:active { border: none; }

.playerCPUButtonDiv {
    display: flex;
    justify-content: center;
}

.playerCPUButton {
    color: white;
    font-size: 2rem;
}

.playerCPUButton:hover { font-size: 2.5rem; }
.playerCPUButton:active { border: none; }

.twoCPUButtonDiv {
    display: flex;
    justify-content: center;
}

.twoCPUButton {
    color: white;
    font-size: 2rem;
}

.twoCPUButton:hover { font-size: 2.5rem; }
.twoCPUButton:active { border: none; }

.backToTitlePlaySelectButtonDiv {
    margin-top: 5%;
}

/* Play Select Screen */

/* Rounds Screen */

.roundScreenTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.roundScreenBtnRow {
    margin-top: 10%;
}

.roundScreenBtnCols {
    display: flex;
    justify-content: center;
}

.roundScreenBtns {
    color: white;
    font-size: 2rem;
    position: absolute;
}

.roundScreenBtns:hover { font-size: 2.5rem; }
.roundScreenBtns:active { border: none; }

.roundScreenBackBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.roundScreenBackBtn {
    color: white;
    font-size: 2rem;
}

.roundScreenBackBtn:hover { font-size: 2.5rem; }
.roundScreenBackBtn:active { border: none; }

/* Rounds Screen */

/* Player Vs Plaver */

.playerSelectTitlePVP {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.playerSelectRowPVP {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.playerSelectDivPVP {
    width: 30%;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: black;
    border: white solid 0.1rem;
    border-radius: 5px;
}

.playerChoiceTitlesPVP {
    text-align: center;
    font-size: 2rem;
}

.playerOptionsPVP {
    color: white;
    font-size: 1.5rem;
    width: 100%;
    border: white solid 0.1rem;
    border-radius: 0;
}

.playerOptionsPVP:hover {
    color: black;
    background-color: white;
}

.playerOptionsDeactivePVP {
    color: white;
    font-size: 1.5rem;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0.95rem;
}

/* Player Vs Plaver */

/* Player Vs CPU */

.playerSelectTitlePVCPU {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.playerSelectRowPVCPU {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.playerSelectDivPVCPU {
    width: 30%;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: black;
    border: white solid 0.1rem;
    border-radius: 5px;
}

.playerChoiceTitlePVCPU {
    text-align: center;
    font-size: 2rem;
}

.playerOptionsPVCPU {
    color: white;
    font-size: 1.5rem;
    width: 100%;
    border: white solid 0.1rem;
    border-radius: 0;
}

.playerOptionsPVCPU:hover {
    color: black;
    background-color: white;
}

/* Player Vs CPU */

/* Round Win Screen */

.roundWinTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.roundWinDetails {
    text-align: center;
    font-size: 2.5rem;
}

.roundScore {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3%;
}

.nextRoundDiv {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.nextRoundBtn {
    color: white;
    font-size: 2rem;
}

.nextRoundBtn:hover { font-size: 2.5rem; }
.nextRoundBtn:active { border: none; }

/* Round Win Screen */

/* Win Screen */

.winScreenTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.winScreenDetails {
    text-align: center;
    font-size: 2.5rem;
}

.finalScore {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3%;
}

.winBackToStartBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.winBackToStartBtn {
    color: white;
    font-size: 2rem;
}

.winBackToStartBtn:hover { font-size: 2.5rem; }
.winBackToStartBtn:active { border: none; }

/* Win Screen */